@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
@import "tailwindcss";
@theme {
  --color-brandBlue-50:  #e9edff;
  --color-brandBlue-100: #cfd8ff;
  --color-brandBlue-200: #9fb1ff;
  --color-brandBlue-300: #6f8bff;
  --color-brandBlue-400: #3f64ff;
  --color-brandBlue-500: #155DFC; /* your main blue */
  --color-brandBlue-600: #0f4bd6;
  --color-brandBlue-700: #0c3aa8;
  --color-brandBlue-800: #082a7a;
  --color-brandBlue-900: #051a4d;
}

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
